@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --main-color: #711399;
  --accent-color: #9f3ecc;
  --background-color: #edecea;
  --card-color: #e5d3ed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--background-color);
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body > h1 {
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: 32px;
}

.modal-btn {
  width: 100%;
  padding: 8px 16px;
  margin-bottom: 8px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 5px;
  font-size: large;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #f1f1f1;
  margin: 15% auto;
  padding: 16px 24px;
  border: 1px solid #888;
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border:  none;
  border-radius: 5px;
}

.modal-content .form-control input {
  box-shadow: none;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin: 32px 0px;
}

.form-control input {
  padding: 16px 10px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px;
  font-size: 16px;
  font-weight: 900;
}

.form-control:nth-child(4) {
  display: block;
  padding: 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-control:nth-child(4) input {
  margin-left: 32px;
  height: 24px;
  width: 24px;
}

button {
  width: 100%;
  padding: 8px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 5px;
  font-size: large;
  font-weight: bold;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px;
}

button:hover {
  background-color: var(--main-color);
  cursor: pointer;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  font-size: 1.1rem;
}

.container button {
  width: auto;
  background-color: var(--card-color);
  color: var(--accent-color);
  box-shadow: none;
}

.container button:hover {
  color: var(--main-color);
}

p {
  padding: 16px;
  margin: 16px;
  background-color: var(--card-color);
  width: 300px;
  height: 200px;
  line-height: 34px;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  position: relative;
}

.delete {
  align-self: flex-end;
}

.switch-read {
  position: absolute;
  bottom: 48px;
  left: 8px;
  font-weight: 100;
}